# Django
DJANGO_SECRET_KEY=change-me-to-a-secret-key
ADMIN_EMAIL=admin@example.com

# PostgreSQL
POSTGRES_DB=hop_django_luxe
POSTGRES_USER=hop_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432